.footer {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #00ffcc; /* Texto neón */
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    font-family: 'Orbitron', sans-serif; /* Fuente futurista */
    box-shadow: 0 -4px 6px rgba(0, 255, 204, 0.1); /* Sombra neón */
  }