.cursos-page {
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cursos-page h2 {
    font-size: 2rem;
    color: #3182ce; /* Azul */
    margin-bottom: 1rem;
  }