.home {
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .home h2 {
    font-size: 2rem;
    color: #3182ce; /* Azul */
    margin-bottom: 1rem;
  }
  
  .home p {
    font-size: 1.25rem;
    color: #4a5568; /* Gris oscuro */
  }