.sobre-mi-page {
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .sobre-mi-page h2 {
    font-size: 2rem;
    color: #3182ce; /* Azul */
    margin-bottom: 1rem;
  }
  
  .sobre-mi-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  .sobre-mi-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 1rem;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sobre-mi-content p {
    font-size: 1.1rem;
    color: #4a5568; /* Gris oscuro */
    line-height: 1.6;
    margin-bottom: 1rem;
  }